{% extends "./_layouts/layout.html" %}

{% block content %} 
   
<h2>Anasayfa</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Post Title</th>
                        <th>Post Content</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <th scope="row">{{ item.id }}</th>
                            <td>{{ item.title }}</td>
                            <td>{{ item.content }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
